<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<br>
<div class="container">
    <div class="row">
        <form th:action="@{/actor/findByLastName}">
            <input type="text" name = "surname"/>
            <input  type="submit" value="search">
        </form>
    </div>
</div>
<br>
<div class="container">

    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Lastname</th>
            <th>Firstname</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="actor, stat : ${actors}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
        >
            <td th:text="${actor.id}">1</td>
            <td th:text="${actor.surname}">Surname 1</td>
            <td th:text="${actor.name}">Actor 1</td>
            <td><a href="#" th:href="@{'/actor/update/' + ${actor.id}}">Update</a></td>
            <td><a href="#" th:href="@{'/actor/delete/' + ${actor.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<br>
<hr>
<div class="container">
    <div class="row">

        <a class="btn btn-primary" role="button" th:href="@{'/actor/new'}">Add actor</a>




    </div>
</div>


</body>
</html>