<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tr th:each="actor, stat : ${actors}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
        >
            <td th:text="${actor.id}">1</td>
            <td th:text="${actor.surname}">Surname 1</td>
            <td th:text="${actor.name}">Actor 1</td>
            <td><a href="#" th:href="@{'/actor/delete/' + ${actor.id}}">Delete</a></td>
        </tr>
    </table>
</div>
<div class="container">
    <div class="row">

        <a class="btn btn-primary" role="button" th:href="@{'/actor/new'}">add genre</a>




    </div>
</div>


</body>
</html>