<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${actor}" th:action="@{/actor/}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:lightgray;">
                <h1 class="panel-title">Actor INFO</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Actor surname:</label>
                        <label th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</label>
                        <input type="text" class="form-control" th:field="*{surname}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Actor name:</label>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </div>




                </div>




                <div class="row">

                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </div>
        </div>



</form>
</body>
</html>