<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Actor</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<br>
<form th:object="${actor}" th:action="@{/actor/}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#f0f5f3;">
                <h1 class="panel-title">Add actor</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label class="lead">Last name:</label>
                        <label th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error</label>
                        <input type="text" class="form-control" th:field="*{surname}"/>
                    </div>
                    <div class="col-md-3 form-group">
                        <label class="lead">First name:</label>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</label>
                        <input type="text" class="form-control" th:field="*{name}"/>
                    </div>




                </div>


                <hr>
                <br>


                <div class="row">

                    <div class="col-md-7 ml-md-auto">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>

            </div>
        </div>



</form>
</body>
</html>