<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>actor</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <h2>Update actor</h2>

    <form action="#" th:action="@{/actor}" th:object="${actor}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />


        <label class="lead">Last name:</label>
        <input type="text" th:field="*{surname}" class="form-control mb-4 col-4">


        <label class="lead">First name:</label>
        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <br>

        <button type="submit" class="btn btn-info col-2"> Update actor</button>
    </form>

    <hr>

    <a th:href = "@{/actor/list}"> Back to Cinema List</a>
</div>
</body>
</html>