<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Hall</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Hall </h1>
    <hr>
    <h2>Update hall</h2>

    <form action="#" th:action="@{/hall}" th:object="${hall}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="number" th:field="*{number}" class="form-control mb-4 col-4">

        <input type="number" th:field="*{capacity}" class="form-control mb-4 col-4">

        <div>
            <select th:field="*{cinema}" class="form-control">
                <option th:each="cinema: ${cinemasAll}" th:value="${cinema.id}" th:text="${cinema.name} + ' ' + ${cinema.city}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-info col-2"> Update Cinema</button>
    </form>

    <hr>

    <a th:href = "@{/hall/list}"> Back to Cinema List</a>
</div>
</body>
</html>